#nav-menu .bg-wrap{
    background: #eeeeee;
}
#header-text-img-3 .bg-wrap {
    background: #1d144f;
}



#desc-text-3 .bg-wrap {
    background: #eeeeee;
}



#what .bg-wrap {
	background: #eeeeee;
}
#desc-text-3--1 .bg-wrap {
    background: #eeeeee;
}



#how .bg-wrap {
	background: #ffffff;
}
#desc-text-3--1 .bg-wrap {
    background: #eeeeee;
}



#how .bg-wrap {
	background: #ffffff;
}
#secure .bg-wrap {
	background: #eeeeee;
}
#desc-accordion .bg-wrap{
	background: #ffffff;
}
#footer-social-text .bg-wrap {
    background: #eeeeee;
}
